*{
    margin: 0;
    padding: 0;
    outline: none;
}
/*@media*/
@media screen and (max-width: 500px){
       .logo {
            display: none;
            color: red;
        }
	}

@media screen and (orientation: landscape){
	p{color: blue;}
	}

.table{
    border: 2px double black;
    color: black;
	max-width: 550px;
   	margin-top: 30px;
    float: left;
}

td {
    padding: 5px; /* Поля вокруг текста */

}
.diskPage{
    background: #d7e83c;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.diskList{
    width: 90%;
    background: #e84bb2;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 4px double black;
    float: left;
}

.clientField{
    background: #291fe8;
    margin: 5px;
    padding: 5px;
    min-width: 480px;

}

.tab {
    border: 2px double black;
    background: #7de880;
    max-width: 100px;
    cursor: pointer;
}

body {
    background: #8bcc26;
	min-width: 400px;
    min-height: 100%;
    height: 100%;
    overflow: scroll;
}


.fotoCont {
    float: left;
    width: 32%;
    height: 30%;
    margin: 7px 2px 7px 2px;

}

.fotoCont img{
    width: 100%;
    height: auto;
}

.mainmenu{
    background: #0099FF;
    width: 98%;
    margin-left: 10px;
	height: 40px;
    text-align: center;
    vertical-align: middle;
}

.menuitem{

    width: 19%;
    height: 40px;
    float: left;
    display: inline-block;
    cursor: pointer;
    border:1px solid #100fa9;
}

.menuitemActive{

    width: 19%;
    height: 40px;
    float: left;
    display: inline-block;
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    background: rgba(0,0,0,.3);
    border:1px solid #100fa9;

}




.menuLabel{
    height: 90%;
    width: auto;
    margin: 7px 7px 7px 7px;

}

.menuitem:hover{
    background: rgba(0,0,0,.3);
}

.tab:hover{
    background: rgba(0,0,0,.3);

}


.fotos{
    border:1px solid #000;
    width: 98%;
    background-color: #7de880;
    margin-left: 7px;
    margin-top: 20px;
	margin-right: 7px;
    float: left;
    cursor: pointer;
}

.dayDiv{

   min-width: 440px;

}


.arrow{
    width: 20px;
    height: 20px;
    margin-top: 150px;

}

.dayShedule{
    float: left;
}

.activePage{

    vertical-align: top;
    display: block;
}

.passivePage{
    display: none;

}

.header{
    width: 100%;
    margin: 7px 7px 7px 7px;
}

.logo{
    width: 100%;
    height: auto;
}

.logo img{
    width: 94%;
    height: auto;
}

.loginForm{
    height: 40px;
    display: inline;
    overflow : hidden;
    white-space: nowrap;
}

.loginForm input{
    color: red;
    border-radius: 11px;
    text-align: center;
    margin-left: 15px;
    font-size: 12pt;
    width: 7em;
}

.loginForm button{
    border-radius: 10px;
    width: 70px;

}

.editbox {
    border: 2px double black;
    background-color: #ffff4f;
    /*float: left;*/
    /*margin: 10px 20px 10px 10px ;*/
    padding: 10px 20px 10px 10px;

}

#diskbox {
    position: fixed; /* Абсолютное позиционирование */
    bottom: 10px;
    right: 10px; /* Положение от правого края *!*/
}

#clientbox {
    background-color: #ff35f8;
    width: 70%;
    margin: 5px;
    padding: 5px;
    max-width: 480px;
    float: left;
}

.selected
{
    background-color: rgba(33, 42, 33, 0.55);
}

button {
    background-color: #7889ff;
    margin-left: 7px;
}

.button {
    background-color: #7889ff;
    margin-left: 7px;
}

.fotoScan{
    width: 150px;
    height: auto;
}